<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" xmlns:idworker="http://code.imadcn.com/schema/idworker"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://code.imadcn.com/schema/idworker
		http://code.imadcn.com/schema/idworker/idworker.xsd">
		
	<idworker:registry id="zkRegistryCenter" server-lists="59.151.4.117:2181"/>
	
	<idworker:generator id="snowflakeGen" group="snowflake-group" registry-center-ref="zkRegistryCenter" />

</beans>
